<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>673565150375-ssgokf5mudja3vnc64u22m2u41h638hu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.673565150375-ssgokf5mudja3vnc64u22m2u41h638hu</string>
	<key>API_KEY</key>
	<string>AIzaSyBtB7_9Sci4Kt41x25R5HBsPgf-kzyM-Cw</string>
	<key>GCM_SENDER_ID</key>
	<string>673565150375</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.croix.TODOBAA</string>
	<key>PROJECT_ID</key>
	<string>swiftuitodoapp2023</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuitodoapp2023.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:673565150375:ios:9b43f02a09a8b7096b1f82</string>
</dict>
</plist>